<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Recetas</title>
</head>
<body>
    <h1>Gestión de Recetas</h1>
    <a href="{{ url_for('agregar_receta') }}">Agregar nueva receta</a>
    <ul>
        {% for receta in recetas %}
            <li>
                <h3>{{ receta.nombre }}</h3>
                <p>{{ receta.descripcion }}</p>
                <a href="{{ url_for('agregar_receta', id=receta.id) }}">Editar</a> | 
                
                <!-- Formulario para eliminar receta -->
                <form action="{{ url_for('eliminar_receta', id=receta.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
