<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Ingredientes</title>
</head>
<body>
    <h1>Lista de Ingredientes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Unidad</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.precio }}</td>
                <td>{{ ingrediente.unidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('gestionar_ingredientes') }}">Agregar otro ingrediente</a>
</body>
</html>
